<form (ngSubmit)="onSubmit()">
    <h2>{{isEditing? 'Editar' : 'Criar'}} Perfil</h2>
      <br>
      <div class="form-row">
        <div class="col">
          <label>Nome</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="nomePerfil" [(ngModel)]="perfil.nomePerfil" placeholder="Digite aqui um nome para identificar seu Perfil">
          </div>
        </div>
        <div class="col">
          <label>Tipo Imóvel</label>
              <div class="dropdown" >
                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{perfil.tipo}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li *ngFor="let tipo of tiposImoveis">
                    <a class="dropdown-item" (click)="setTipoImoveis(tipo.tipo)">{{tipo.tipo}}</a>
                  </li>           
                </div>
              </div>
        </div>

        <div class="col">
          <label>Tipo Negócio</label>
              <div class="dropdown">
                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{perfil.negocio}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li *ngFor="let negocio of tiposNegocios">
                    <a class="dropdown-item" (click)="setTipoNegocio(negocio.tipo)">{{negocio.tipo}}</a>
                  </li>           
                </div>
              </div>
        </div>

      </div>
      <div class="form-row">
        <div class="col">
          <label>Preço Mínimo (R$)</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="valorMinimo" [(ngModel)]="perfil.valorMinimo" >
          </div>
        </div>
        <div class="col">
            <label>Preço Máximo (R$)</label>
            <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="valorMaximo" [(ngModel)]="perfil.valorMaximo" >
          </div>
          </div>
      </div>
      <div class="form-row">
          <div class="col">
            <label>Área Mínima (m2)</label>
            <div class="input-group input-group-sm mb-3">
             <input type="text" class="form-control" name="areaMinima" [(ngModel)]="perfil.areaMinima" >
              </div>
          </div>
          <div class="col">
            <label>Área Máxima (m2)</label>
            <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="areaMaxima" [(ngModel)]="perfil.areaMaxima" >
          </div>
          </div>
       </div>

       <div class="form-row">
        <div class="col">
          <label>Iptu Anual Máximo (R$)</label>
          <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control" name="valorMaximoIptu" [(ngModel)]="perfil.valorMaximoIptu" >
        </div>
        </div>
        <div class="col">
          <label>Condomínio Mensal Máximo (R$)</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="valorMaximoCondominio" [(ngModel)]="perfil.valorMaximoCondominio" >
          </div>
        </div>
      </div>
      <br>
        <div class="form-row">
          <div class="col">
            <label>Quartos (apartir de)</label>
            <div class="input-group input-group-sm mb-3"> 
                <input type="number" class="form-control" name="quarto" [(ngModel)]="perfil.quantidadeQuartoMinimo">
            </div>
          </div>
          <div class="col">
            <label>Suites (apartir de)</label>
            <div class="input-group input-group-sm mb-3">
            <input type="number" class="form-control" name="quantidadeSuiteMinima" [(ngModel)]="perfil.quantidadeSuiteMinima">
            </div>
          </div>
            <div class="col">
              <label>Banheiros (apartir de)</label>
              <div class="input-group input-group-sm mb-3">
                <input type="number" class="form-control" name="banheiro" [(ngModel)]="perfil.quantidadeBanheiroMinimo" >
              </div>   
            </div>
            <div class="col">
              <label>Garagem (apartir de)</label>
              <div class="input-group input-group-sm mb-3">
                <input type="number" class="form-control" name="vagaGaragem" [(ngModel)]="perfil.quantidadeVagaMinima" >
              </div>
            </div>
           
            <div class="col">
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="varanda" [(ngModel)]="perfil.varanda" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Varanda
                </label>
              </div>
            </div>
          </div>
      <br>
      <br>
      <h3>Endereço</h3>

    <div *ngFor="let endereco of perfil.enderecos; let i = index" >          
      <div class="form-row">     
       <div class="col">
         <label>País</label>
         <div class="input-group input-group-sm mb-3">
         <input type="text" class="form-control" name="pais"
          [(ngModel)]="perfil.enderecos[i].pais" name="endereco{{i}}.pais" 
          placeholder="País" [disabled]="true">
        </div>
       </div>
       <div class="col" >
         <!-- <input type="text" class="form-control" name="estado" [(ngModel)]="perfil.enderecos[i].estado"  name="endereco{{i}}.estado" placeholder="Estado">
         -->
         <label>Estado</label>
            <div class="dropdown" >
              <button  class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{perfil.enderecos[i].estado}}
              </button>
              <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li *ngFor="let estado of estados">
                  <a class="dropdown-item" (click)="setEstado(i, estado.sigla)">{{estado.sigla}} - {{estado.nome}}</a>
                </li>           
              </div>
            </div>

        </div>
       <div class="col">
         <label>Cidade</label>
           <!-- <input type="text" class="form-control" name="cidade" [(ngModel)]="perfil.enderecos[i].cidade" name="endereco{{i}}.cidade" placeholder="Cidade">
       -->
           <div class="dropdown">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{perfil.enderecos[i].cidade}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li *ngFor="let cidade of cidades">
                <a class="dropdown-item" (click)="setCidade(i, cidade.nome)">{{cidade.nome}}</a>
              </li>           
            </div>
          </div>

          </div>    
      </div>

      <div class="form-row">
        <div class="col">
          <label>Bairro</label>
          <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control"  [(ngModel)]="perfil.enderecos[i].bairro" name="endereco{{i}}.bairro" >
        </div>
        </div>
    </div>
    
    </div>
    <br>
    <button class="btn btn-outline-info btn-sm" type="button" (click)="adicionarEndereco()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
    </svg> Endereço </button>
    <button class="btn btn-outline-info btn-sm" type="button" (click)="removeEndereco()">
      - Endereço </button>
    <br>
      <br>
      <button class="btn btn-primary" type="submit">Salvar</button>
      <button class="btn btn-outline-primary"  (click)="voltar()">Voltar</button>
</form>
  
