
<div id="painel-1" class="form-row">
  <div class="col">
    <!--<h2 class="text-center">O Portal do Corretor Inteligente</h2>-->
    <!--<img src="https://corretor-foto-bucket.s3.us-east-2.amazonaws.com/home.jpg" alt="Descrição da imagem" style="width: 600px">-->

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1> O que é o FIFTY ? </h1>
          <br>
          <h3>É uma plataforma que conecta corretores autônomos de forma rápida e simples.</h3>
          <img src="https://corretor-foto-bucket.s3.us-east-2.amazonaws.com/home.jpg" alt="Descrição da imagem" style="width: 600px">
        </div>
        <div class="carousel-item">
          <h1> Nosso objetivo </h1>
          <br>
          <h3>Corretores mais independentes, <br> comissões mais justas e <br> vendas mais rápidas</h3>
          <img src="https://corretor-foto-bucket.s3.us-east-2.amazonaws.com/home.jpg" alt="Descrição da imagem" style="width: 600px">
        </div>
        <div class="carousel-item">
          <h1>Como o Fifty funciona </h1>
          <br>
          <h3> Você cadastra suas opções e seus perfis de interesse e 
            a gente encontra corretores que tem o que você procura. <br>  
            Tão simples quanto um aplicativo de relacionamento.
          </h3>
          <img src="https://corretor-foto-bucket.s3.us-east-2.amazonaws.com/home.jpg" alt="Descrição da imagem" style="width: 600px">
        </div>
        <div class="carousel-item">
          <h1> Nossa função </h1>
          <br>
          <h3> Simplesmente conectar corretores. <br> Nenhuma transação é feita através da plataforma <br>
            Não cobramos nenhum percentual sobre as vendas. </h3>
            <img src="https://corretor-foto-bucket.s3.us-east-2.amazonaws.com/home.jpg" alt="Descrição da imagem" style="width: 600px">
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>

    </div>

  </div>

 
  <div class="col">

    <h2 class="text-center">Entrar</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm" >
      <div class="form-group">
        <label>Creci</label>
        <input class="form-control" type="creci" name="creci" id="creci" [(ngModel)]="user.creci" required />
      </div>
      <div class="form-group">
        <label>Senha</label>
        <input class="form-control" type="password" name="senha" id="senha" [(ngModel)]="user.senha" required />
      </div>
      <div>{{mensagemLogin}}</div>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid" >Entrar</button>
      <button type="button" class="btn btn-link btn-block" [routerLink]="['/create-account']">Registre-se</button>
      <button type="button" class="btn btn-link btn-block" data-toggle="modal" data-target="#modalEsqueciSenha">Esqueci a senha</button>
      <button type="button" class="btn btn-link btn-block" [routerLink]="['/ajuda']">Ajuda</button>
    </form>
  </div>
</div>


<div class="modal fade" id="modalEsqueciSenha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Esqueci a senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Creci</label>
              <div class="input-group input-group-sm mb-3">
                  <input class="form-control" type="text" name="creci_" id="creci_" [(ngModel)]="creci_"/>    
              </div>
      </div>
      
      <div class="modal-body">{{mensagemSenha}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="solicitarSenha(creci_)">Solicitar nova senha</button>
      </div>
    </div>
  </div>
  