form {
    padding: 0% 30% 10% 30%;
    width: 100%;
}

.painel-1{
    width: 50%;
}

.fundo-cor {
    background-color: #f0f0f0; /* Escolha a cor que você deseja */
    padding: 20px; /* Opcional: adicione preenchimento para melhor aparência */
    
}