<table class="table table-striped" *ngIf="solicitacoesSenha.length">
    <thead>
        <tr>
            <th>Creci</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Solicitação</th>
            <th>Senha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let solicitacao of solicitacoesSenha; let i = index">
            <td>{{solicitacao.creci}}</td>
            <td>{{solicitacao.nome}}</td>
            <td>{{solicitacao.telefone}}</td>
            <td>{{solicitacao.solicitacao}}</td>
            <td>{{solicitacao.senhaTemp}}</td>
            <td>
                <button title="Gerar senha provisoria" class="btn btn-sm btn-primary mx-1" (click)="gerarSenhaProvisoria(solicitacao.creci)" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                      </svg>
                </button>
                <button title="Resolver" class="btn btn-sm btn-success mx-1" (click)="resolveSolicitacao(solicitacao.id)" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                    </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ul *ngIf="solicitacoesSenha.length;else noSolicitacao">

</ul>
<ng-template #noSolicitacao>
    <p>Não existe nenhuma solicitação</p>
</ng-template>