<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner fundo-cor"> <!-- Adicionei a classe "fundo-cor" -->
        <div class="carousel-item active">
            <h1> Bem vindo ao FIFTY </h1>
        </div>
        <div class="carousel-item">
            <h1> A plataforma para corretores inteligentes.</h1>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<br> 

<br>
<div class="form-row">

    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Você tem um CLIENTE</h5>
              <h6 class="card-subtitle mb-2 text-muted"> Mas não consegue encontrar o imóvel ideal </h6>
              <p class="card-text">
                Cadastre com detalhes o perfil de interesse do seu cliente para encontrar 
                corretores com a opcão perfeita!
                </p>
              <a href [routerLink]="['/novoperfil']" class="card-link">Cadastre um novo perfil</a>
              
            </div>
          </div>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" style="width: 18rem;">
            <div class="card-body text-dark">
              <h5 class="card-title">Voce tem um IMÓVEL</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mas não consigue atrair clientes</h6>
              <p class="card-text">  
                Cadastre agora sua opção, com detalhes, para encontrar corretores que
                tem o cliente ideal para o seu imóvel.
                </p>
              <a href [routerLink]="['/novaopcao']" class="card-link">Cadastre uma nova opção</a>
              
            </div>
          </div>

    </div>
</div>


