
<h2>Meus Dados</h2>
      <br>
      <div class="form-row">


        <div class="col">
            <img class="rounded-circle" src={{corretor.urlPhoto}} style="width: 300px">
            <br>
            <input type="file" (change) ="onFileSelected($event)">
            <button class="btn btn-primary"  (click)="updatePhotoCorretor()"  type="button">Enviar foto</button>
          </div>


        <div class="col">
          <label>Nome</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="nomeCorretor" [(ngModel)]="corretor.nome" [disabled] = true>
          </div>
          <label>Creci</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="creciCorretor" [(ngModel)]="corretor.creci" [disabled] = true>
          </div>
          <label>Telefone</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="telefoneCorretor" [(ngModel)]="corretor.telefone" placeholder="(xx)xxxxxxxxx">
          </div>
          <label>E-mail</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="emailCorretor" [(ngModel)]="corretor.email" placeholder="exemplo@email.com">
          </div>
          <label>Site</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="siteCorretor" [(ngModel)]="corretor.site" placeholder="site.com.br">
          </div>
          <label>Instagram</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="instagramCorretor" [(ngModel)]="corretor.instagram" placeholder="Seu Instagram">
          </div>
          <label>Sobre</label>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" name="euCorretor" [(ngModel)]="corretor.frase" placeholder="Fale sobre você">
          </div>

          <button class="btn btn-primary"  (click)="updateCorretor()"  type="button">Salvar</button>

        </div>
        
      </div>
      

      