<div>
    <h2>Encontre parceirias e venda mais rapido!</h2>
</div>
<br>
<br>

<div class="row">
  <div class="col-sm-5 mb-3 mb-sm-0">
    <div class="card" style="width: 18rem;">
        <div class="card-body" >
          <h5 class="card-title">Buscar a partir das minhas opções</h5>
          <p class="card-text">Adicione suas captações e busque parceiros com compradores interessados!</p>
          <a  [routerLink]="['/listaopcao']"  class="btn btn-primary">
            Minhas Opções</a>
        </div>
      </div>
  </div>
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card" style="width: 18rem;">
      <div class="card-body" >
        <h5 class="card-title">Buscar a partir dos meus clientes</h5>
        <p class="card-text">Adicione perfis com as necessidades dos seus clientes e busque parceiros com opções que atendem!</p>
        <a [routerLink]="['/listaperfil']" class="btn btn-primary" >Meus Perfis</a>
      </div>
    </div>
  </div>
