<h2 class="text-center">Está com algum problema? Entre em contato</h2>
<br>
<br>
<br>
<form (ngSubmit)="onSubmit()" #form="ngForm" >
  <div class="form-group">
    <label>E-mail para contato</label>
    <input class="form-control" type="text" name="email" id="email" [(ngModel)]="ajuda.email" required />
  </div>
  <div class="form-group">
    <label>Assunto</label>
    <input class="form-control" type="text" name="assunto" id="assunto" [(ngModel)]="ajuda.assunto" required />
  </div>
  <div class="form-group">
    <label>Descrição</label>
    <input class="form-control" type="text" name="descricao" id="descricao" [(ngModel)]="ajuda.descricao" required />
  </div>
  <button type="submit" class="btn btn-primary btn-block">Enviar</button>
  <button class="btn btn-secondary btn-block" (click)="voltar()">Voltar</button>